<!DOCTYPE html>
<html>
    <head>
        <title>Public Game</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <style type="text/css">
            #center {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%)
        </style>
    </head>
    <body>
        <body>
            <div class="container">
                <div>
                <h1></h1>
                    <hr>
                </div>
                <div style="text-align: center">
                    <div id="center" style="width: 1200px;">
                    {% block content %}
                    {% endblock %}
                    </div>
                </div>
            </div>
        </body>
    </body>
</html>